@model BookClub.Models.Review.ReviewViewModel

<table style="width: 100%; border: 1px solid black">
    <tr>
        <td>
           
            @Model.DateCreated  @*.ToString("dd-MM-yyyy HH:mm")*@
        </td>
    </tr>
    <tr>
        <td>
            @Model.ReviewContent
        </td>
    </tr>
    <tr>
        <td>
            @Model.AuthorName
        </td>
    </tr>

    <tr>
        @*Displays the confirmed rating for each Users Review*@ 
       
        <td>
            @for (int i = 0; i < @Model.Rating; i++)
            {
                <span class="glyphicon glyphicon-star"></span>
            }
            @for (int i = @Model.Rating; i < 5; i++)
            {
                <span class="glyphicon glyphicon-star-empty"></span>
            }
        </td>
    </tr>

</table>