@using Microsoft.AspNet.Identity

@model BookClub.ViewModels.Review.ReviewViewModel


<div class="reviewContent">
    <table style="width: 100%; border: 1px solid black">
        <tr>
            <td class="reviewCreated">
                @Model.DateCreated  @*.ToString("dd-MM-yyyy HH:mm")*@
            </td>
        </tr>
        <tr>
            <td class="reviewComment">
                <b>@Model.ReviewContent</b>
            </td>
        </tr>
        <tr>
            <td class="reviewAuthorName">
                @Model.AuthorName
            </td>
        </tr>

        <tr>
            @*Displays the confirmed rating for each Users Review*@

            <td>
                @for (int i = 0; i < @Model.Rating; i++)
                {
                    <span class="glyphicon glyphicon-star" id="partialReviewStar"></span>
                }
                @for (int i = @Model.Rating; i < 5; i++)
                {
                    <span class="glyphicon glyphicon-star-empty" id="partialReviewStar"></span>
                }
            </td>
        </tr>

        @*Only gives logged in Users the ability to Edit/Delete their own Reviews*@ 
        @if (Model.UserId == User.Identity.GetUserId())
        {
        <tr>
            <td>
                <a><i class="glyphicon glyphicon-edit" id="deleteReview" onclick="location.href='@Url.Action("UpdateReview", "Review", new { id = Model.Id })'"></i></a>
                <a><i class="glyphicon glyphicon-trash" id="deleteReview" onclick="location.href='@Url.Action("DeleteReview", "Review", new { id = Model.Id })'"></i></a>
            </td>
        </tr>
        }

    </table>
</div>