@model BookClub.ViewModels.Community.CommunityViewModel

<div class="container">
    <div class="recentHeading">
        <div class="recentTitle">Welcome to the <b>MyBookPal</b> Community</div>
        <span class="recentSubtitle">Join the latest discussions about the books you love</span>
    </div>

<div class="row communityContent">
    <h3 id="recentTitle2">Recent Posts</h3>
    <div>
        <input type="text" id="Search" value="Search" placeholder="Search..." class="searchBar" onfocus="clearThis(this)" />
        <button type="submit" class="btn btn-discussionSearch">
            <i class="material-icons">search</i>
        </button>
    </div>

    <table class="table table-hover" id="recentPostsTable">
        <tbody>

            @foreach (var post in Model.RecentPosts)
            {
                <tr class="Search">
                    <td>
                        <div class="forumLogo" style="background-image: url(@post.BookImage); background-size=100%"></div>
                        <div class="postTitle">

                            @Html.ActionLink(@post.Title, "GetPost",
                   new { id = post.Id , Controller = "Post" })

                        </div>
                        <div class="postSubTitle">
                            @if (post.RepliesCount == 1)
                            {
                                <span>@post.RepliesCount Reply</span>
                            }
                            @if (post.RepliesCount == 0)
                            {
                                <span>No Replies</span>
                            }
                            else if (post.RepliesCount > 1)
                            {
                                <span>@post.RepliesCount Replies</span>
                            }
                            <span class="postUser">
                                @Html.ActionLink(@post.AuthorName, "Detail",
                      new { id = post.AuthorId, Controller = "Profile" })
                            </span>

                        </div>
                        <div class="bookTitle">
                            @Html.ActionLink(@post.BookTitle, "GetBookId",
                      new { id = post.BookId, Controller = "Book" })
                        </div>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>
    </div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            })

        })
    });
</script>
@section Scripts{
    <script>

        function clearThis(target) {
            target.value = "";
        }

    </script>
}

