@using Microsoft.AspNet.Identity.Owin
@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/styles/custom.css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2adebda03b.js" crossorigin="anonymous"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyBookPal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-weight: bold;">
                    <li>@Html.ActionLink("Book Catalogue", "GetAllBooks", "Book")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li> @Html.ActionLink("Discussions", "GetAllDiscussions", "Discussion")</li>
                            <li>@Html.ActionLink("Recent Posts", "Index", "Community")</li>
                        </ul>

                    <li>@Html.ActionLink("MyChallenges", "GetChallenges", "Challenge")</li>

                  
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("My Profile", "Detail", new { id = HttpContext.Current.User.Identity.GetUserId(), Controller = "Profile" })
                                    
                                    @if (this.User.IsInRole("Admin"))
                                    {
                                            <li>@Html.ActionLink("View all users", "GetAllUsers", "UserAdmin")</li>
                                           
                                    }
                                    
                                    
                                </ul>

                </ul>
                        @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
