


<h2>Roles</h2>

@foreach (var role in Model)
{

<p>

    @role.Name |
    @Html.ActionLink("Edit", "EditRole", new { id = role.Id }) |

    @Html.ActionLink("Details", "Details", new { id = role.Id }) |

    @Html.ActionLink("Delete", "DeleteRole", new { id = role.Id })

</p>
}

@Html.ActionLink("Add Role", "AddRole")
