@model BookClub.Data.ApplicationUser


<h2>User Details</h2>


 <div>
     <hr />
     <dl class="dl-horizontal">
         <dt>
             @Html.DisplayNameFor(model => model.FirstName)
         </dt>
         <dd>
             @Html.DisplayFor(model => model.FirstName)
         </dd>
         <dt>
             @Html.DisplayNameFor(model => model.LastName)
         </dt>
         <dd>
             @Html.DisplayFor(model => model.LastName)
         </dd>
         <dt>
             @Html.DisplayNameFor(model => model.UserName)
         </dt>
         <dd>
             @Html.DisplayFor(model => model.UserName)
         </dd>
         <dt>
             @Html.DisplayNameFor(model => model.Email)
         </dt>
         <dd>
             @Html.DisplayFor(model => model.Email)
         </dd>
     </dl>
 </div>

<div class="container">
    <div class="row">
        <h4>Roles this user belongs to:</h4>
    </div>
    @if  (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>No roles found for this user</p>
    }

    @foreach (var item in ViewBag.RoleNames)
    {
        <div class="row">
            @item
        </div>
    }
</div>

<p>
    @Html.ActionLink("Edit", "EditUser", new { id = Model.Id }) |
    @Html.ActionLink("Back to list", "GetAllUsers")
</p>

