@model BookClub.Models.Reply.ListofPostReply

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Reply: @Model.PostTitle
        </div>
        <span id="headingBtn">
            @Html.ActionLink("Back to post", "GetPostId",
                         new { id = Model.PostId, Controller = "Post" })
        </span>
    </div>

        <div class="row">
        <div id="postReply">
            <h3>
                @Model.PostTitle
            </h3>
            <p>
                @Model.PostContent
            </p> 
        </div>

    </div>

    <div class="row">
        <div id="AddReply">
            <div class="authorBlock">
                You're submitting this Reply as @Model.AuthorName
            </div>
            </div>
        </div>
    </div>

            @using (Html.BeginForm("AddReply", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Submit a reply</h4>
                

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.ReplyContent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ReplyContent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReplyContent, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="submitReplyBtn" class="btn btn-submitPost" />
                        </div>

                    </div>
                    

                    @*@Html.HiddenFor(model => model.AuthorId)
                    @Html.HiddenFor(model => model.DiscussionId)
                    @Html.HiddenFor(model => model.PostId)*@

                </div>
            </div>
            }










