@model IEnumerable<BookClub.Data.Models.Discussion>


<div class="container body-content">
    <div class="row allDiscussionsHeader">
        <span class="discussionTitle">Discussion Boards</span>
        </div>

    <div class="discussionContent">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Add Discussion", "AddDiscussion", "Admin")
        }

        <table class="table table-hover table-bordered" id="discussionTable">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="allDiscussionTitle">
                                @Html.ActionLink(item.Title, "GetPostsByDiscussion",
                               new { id = item.Id , Controller = "Discussion" })
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @*@Html.ActionLink("View Book", "GetBookId",
        new { id = item.Id , Controller = "Book" })*@
                            <a><i class="glyphicon glyphicon-book" onclick="location.href='@Url.Action("GetBookId", "Book", new { id = item.Id })'"></i></a>
                        </td>

                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a><i class="glyphicon glyphicon-edit" onclick="location.href='@Url.Action("UpdateDiscussion", "Admin", new { id = item.Id })'"></i></a>
                                <a><i class="glyphicon glyphicon-trash" onclick="location.href='@Url.Action("DeleteDiscussion", "Admin", new { id = item.Id })'"></i></a>

                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>