@model IEnumerable<BookClub.Data.Models.Discussion>

<div class="container">
    <div class="allDiscussionsHeader">
        <div class="discussionTitle">Discussion Boards</div>
    </div>

    @*Only allows Admin Users to add a new Discussion*@
    <div class="discussionContent">
        @if (User.IsInRole("Admin"))
        {
            <button class="btn btn-success" id="addButton" onclick="location.href='@Url.Action("AddDiscussion", "Admin")'">Add Discussion</button>
        }
    
        @*Displays Table for each item in the Discussion database*@
        <table class="table table-hover table-bordered" id="discussionTable">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="allDiscussionTitle">
                                @Html.ActionLink(item.Title, "GetPostsByDiscussion",
                               new { id = item.Id , Controller = "Discussion" })
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        @*Small book icon so the User can go to the book details view if needed*@ 
                        <td>
                            <a><i class="glyphicon glyphicon-book" onclick="location.href='@Url.Action("GetBookId", "Book", new { id = item.Id })'"></i></a>
                        </td>

                        @*Only allows Admin Users to see 'UpdateDiscussion' & 'DeleteDiscussion' icons*@

                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a><i class="glyphicon glyphicon-edit" onclick="location.href='@Url.Action("UpdateDiscussion", "Admin", new { id = item.Id })'"></i></a>
                                <a><i class="glyphicon glyphicon-trash" onclick="location.href='@Url.Action("DeleteDiscussion", "Admin", new { id = item.Id })'"></i></a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>