@model BookClub.Models.DiscussionPostModel



        <h3>Welcome to the @Model.Discussion.Title Discussion</h3>

@if (Model.Posts.Any())
{

        @Html.ActionLink("Add Post", "AddPost",
                    new { id = Model.Discussion.Id, Controller = "Admin" }, null)


      <table class="table table-bordered table-hover">
      <tbody>
                @foreach (var post in Model.Posts)

                {
                    <tr>
                        <td>
                            @Html.ActionLink(post.Title, "GetPost",

           new { id = post.Id, Controller = "Post" })

                        </td>
                        <td>
                            @post.AuthorName
                        </td>

                        <td>
                            @post.DatePosted
                        </td>

                        <td>
                            @post.RepliesCount
                        </td>
                    </tr>


                }


            </tbody>
        </table>
}

else
{
    <div class="=noPosts">
        <h3>
            It looks like there are no @Model.Discussion.Title posts yet. <br />
            Why not

            @Html.ActionLink("Create", "AddPost",
                    new { id = Model.Discussion.Id, Controller = "Admin" }, null)

            one?
        </h3>
    </div>
}