@model IEnumerable<BookClub.Data.Models.Post>


<table class="table table-bordered table-hover">
    <tbody>

        
        @foreach (var item in Model)

        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "GetPost",

                 new { id = item.Id, Controller = "Post" })

                </td>
                <td>
                    @item.ApplicationUser.UserName
                </td>

                <td>
                    @item.Created
                </td>

                <td>
                    @item.Replies.Count
                </td>
            </tr>
           
            @Html.ActionLink("Add Post", "AddPost",
           new { id = item.Discussion.Id, Controller = "Admin" }, null)
        }


    </tbody>
</table>






