@model BookClub.Models.Reply.NewPostReply

<div id="allPostDiv"></div>
<div id="postReplyCreateForm">
    @using (Ajax.BeginForm("AJAXAddReply", "Post", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "allPostDiv"

    }))
    {
        
    <div class="form-group">
        @Html.AntiForgeryToken() 
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>
    }
</div>


@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Custom_Scripts/PostReply/BuildReplyTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    }