@using Microsoft.AspNet.Identity

@model BookClub.ViewModels.JointViewModels.GetPostViewModel

<div class="containter body-content">
    <div class="row postHeader">
        <div class="postHeading">
            <span class="postTitle">
                @Model.PostTitle
            </span>

            <h4>
                Go back to the
                @Html.ActionLink(Model.DiscussionName, "GetPostsByDiscussion",

             new { id = Model.DiscussionId , Controller = "Discussion" })
                discussion
            </h4>

        </div>
    </div>

    <div class="row" id="postContent">
        <div class="col-md-3 postAuthorContainer">
            @Html.ActionLink(Model.UserName, "Detail",

               new { id = Model.UserId, Controller = "Profile" })

            <span class="postData">@Model.DatePosted</span>
        </div>

        <div class="col-md-9 postContentContainer">
            <div class="postContent">
                @Html.Raw(Model.PostContent)
            </div>
        </div>

        <div class="deletePost">
            @if (Model.UserId == User.Identity.GetUserId())
                {
                    @Html.ActionLink("Delete", "DeletePost",
                             new { id = Model.PostId, Controller = "Post" })
                }
            </div>
    </div>

    <div class="row" id="replyDivide"></div>
    
    @if (User.Identity.IsAuthenticated)
    { 
    <div class="row" id="postReplyRow">
        <span>
            @Html.ActionLink("Post reply", "AddReply",

      new { id = Model.PostId, Controller = "Reply" })
        </span>
        
    </div>
    }

    @if (Model.Replies.Any())
    {
        foreach (var reply in Model.Replies)
        {
            <div class="row" id="replyContent">
                <div class="col-md-3 replyAuthorContainer">

                    @Html.ActionLink(reply.ReplyUserName, "Detail",

             new { id = reply.ReplyUserId, Controller = "Profile" })

                    <span class="postData">@reply.ReplyPosted</span>
                </div>


                <div class="col-md-9 replyContentContainer">
                    <div class="replypostContent">
                        @Html.Raw(reply.ReplyContent)
                    </div>
                </div>

                <div class="row" id="deleteReply"></div>
                @if (reply.ReplyUserId == User.Identity.GetUserId())
                {
                    <div class="row" id="deleteReplyRow">
                        <div>
                            @Html.ActionLink("Delete", "DeleteReply",

                      new { id = reply.Id , Controller = "Reply" })
                        </div>
                    </div>
                }

            </div>
        }

    }
    else
    {
        <div class="noPosts">

            <h3>
                There are no replies to this post. <br />

            </h3>

        </div>
    }
</div>

