@model IEnumerable<BookClub.Data.Models.Challenges>

<div id="progressBarComplete">
    <p>@(ViewBag.Percent)%</p>
    <div class="progress progress-bar-info">
        <div class="progress-bar progress-bar-striped active progress-bar-warning" role="progressbar"
             style="width:@(Html.AttributeEncode(ViewBag.Percent))%"></div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Until)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>*@
        <th></th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!item.Completed)
                {
                    @Html.DisplayFor(modelItem => item.Description)
                }
                else
                {
                    <div class="completedChallenge">@Html.DisplayFor(modelItem => item.Description)</div>
                }

            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Completed, new { id = item.Id, @class = "ActiveCheck" })
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Until)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @*@Html.ActionLink("Delete", "DeleteChallenge",
                    new { id = item.Id , Controller = "Challenge" })*@

                <i class="glyphicon glyphicon-trash" onclick="location.href='@Url.Action("DeleteChallenge", "Challenge", new { id = item.Id })';return false;"/>
            </td>
        </tr>
    }
    

</table>



<script src="~/Scripts/Custom_Scripts/CheckBoxListener.js"></script>
