@model BookClub.ViewModels.Book.BookDetailViewModel

<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted">Book View</h2>
    </div>
    <h4 id="backLink">
        @*Allows User to return to the previous Book list view*@
        Back to 
        @Html.ActionLink("bookshelf", "GetAllBooks",
       new { id = Model.Id , Controller = "Book" })
    </h4>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="detailImage" src="@Model.BookImage" />
            </div>
        </div>

        <div class="col-md-4">
            <p id="bookTitle">@Model.BookTitle</p>
            <p id="bookAuthor">@Html.ActionLink(Model.AuthorName, "GetAuthor",
                new { id = Model.AuthorId, Controller = "Author" })</p>
            <p id="bookGenre">@Model.GenreName</p>
        </div>
        <div class="col-md-4 detailInfo">
            <table>
                <tr>
                    <td class="bookLabel">ISBN: </td>
                    <td class="bookValue">@Model.ISBN </td>
                </tr>
                <tr>
                    <td class="bookLabel">Price: </td>
                    <td class="bookValue">@Model.Price </td>
                </tr>
                <tr>
                    <td class="bookLabel">Publisher: </td>
                    <td class="bookValue">@Model.Publisher </td>
                </tr>
                <tr>
                    <td class="bookLabel">Format: </td>
                    <td class="bookValue">@Model.Format </td>
                </tr>
                <tr>
                    <td class="bookLabel">Year Published: </td>
                    <td class="bookValue">@Model.Year </td>
                </tr>
            </table>
        </div>

        <div class="col-md-8">
            <p id="bookBlurb">@Model.Blurb</p>
        <div> 
            View 
        @Html.ActionLink("discussions", "GetB", new { id = Model.Id, Controller = "Book" })
        about this book
        </div>
    </div>
</div>
    <button class="btn btn-warning" id="reviewButton" onclick="location.href='@Url.Action("GetReviewByBook", "Review", new { id = Model.Id })'">See Reviews</button>
</div>